@import "../_includes/reset";
@import "../_includes/utils";
@import "../_includes/variables";

:root {
  --color-50: #e0f0ff;
  --color-100: #b8d5fa;
  --color-200: #8ebef1;
  --color-300: #63a8e8;
  --color-400: #3994e0;
  --color-500: #1f70c6;
  --color-600: #134d9b;
  --color-700: #082f70;
  --color-800: #001746;
  --color-900: #00061d;

  --step--2: clamp(0.78rem, calc(0.78rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.08vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.29rem + 0.29vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.53rem + 0.45vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.81rem + 0.67vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.14rem + 0.98vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.52rem + 1.38vw), 3.82rem);

  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.55rem + 0.08vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.86rem + 0.08vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.64rem + 0.25vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.18rem + 0.34vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.27rem + 0.51vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.36rem + 0.68vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.55rem + 1.02vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.23rem + 0.42vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.46rem + 0.51vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.77rem + 0.51vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.92rem + 1.02vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.47rem + 1.1vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.84rem + 2.03vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.93rem + 2.2vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.69rem + 4.07vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.75rem + 1.86vw), 2.5rem);

  --grid-max-width: 93.75rem;
  --grid-gutter: var(--space-s, clamp(1.13rem, calc(0.41rem + 3.56vw), 3.75rem));
  --grid-columns: 12;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  color-scheme: light dark;

  @media (prefers-color-scheme: light) {
    --background: var(--color-50);
    --foreground: var(--color-900);
  }

  @media (prefers-color-scheme: dark) {
    --background: var(--color-900);
    --foreground: var(--color-50);
  }
}

body {
  font-family: system-ui;
  font-size: var(--step-0);
}

[class*="step-"] {
  font-size: var(--typescale-bp, var(--typescale, revert));
}

/* Generate Type Scale Classes */
@for $index from -2 through 5 {
  .step-#{$index} {
    --typescale: var(--step-#{$index});
  }

  @each $scale, $bp in $breakpoint-scales {
    @media (min-width: $bp) {
      .#{$scale}\:step-#{$index} {
        --typescale-bp: var(--step-#{$index});
      }
    }
  }
}

.u-container {
  margin-inline: auto;
  max-inline-size: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.u-grid-row {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: var(--grid-template, repeat(var(--grid-columns), 1fr));

  &.u-auto-layout {
    --grid-template: repeat(auto-fit, minmax(200px, 1fr));
  }

  &:not(.u-auto-layout) {
    [class^="u-grid-item"] {
      grid-column: span var(--grid-span-bp, var(--grid-span, var(--grid-columns)));
    }
  }
}

/* Generate Grid Spans */
@for $index from 1 through 12 {
  .u-grid-item--#{$index}-col {
    --grid-span: #{$index};
  }

  @each $scale, $bp in $breakpoint-scales {
    @media (min-width: $bp) {
      .#{$scale}\:#{$index}-col {
        --grid-span-bp: #{$index};
      }
    }
  }
}

// RANDOM COLORS FOR TESTING
$repeat: 12;
.with-squares > * {
  @for $i from 1 through $repeat {
    &:nth-child(#{$i}) {
      $random: rgb(random(255), random(255), random(255));
      background-color: $random;
      border: 1px solid #{$random};
      padding: var(--space-3xs);
      text-align: center;
    }
  }
}
